Repository ricardosilva86/Arquitetura-Containers-AWS: changes, and which Atlantis projects are due for each by the changed paths.
All: Network, ECS-Cluster

Network:
  dir: ./01_VPC

ECS-Cluster:
  dir: ./02_ECS_CLUSTER
  depends_on:
  - Network

Changing atlantis.yaml to fix plan issue with missing tfvars file
  atlantis.yaml
Due: none

fix(): fixing wrong workflow for ECS cluster
  atlantis.yaml
Due: none

fix(): add missing files
  02_ECS_CLUSTER/environment/dev/backend.tfvars
  02_ECS_CLUSTER/environment/dev/terraform.tfvars
Due: ECS-Cluster

fix(): fixing atlantis.yaml
  atlantis.yaml
Due: none

fix(): fixing atlantis.yaml reference to var file
  atlantis.yaml
Due: none

chore(): renaming atlantis.yaml workflows
  atlantis.yaml
Due: none

chore(): document a bit the atlantis.yaml
  atlantis.yaml
Due: none

fix(): fix documentation
  atlantis.yaml
Due: none

feature(): add missing components and fixing VPC errors
  .gitignore
  01_VPC/variables.tf
  02_ECS_CLUSTER/ecs.tf
  02_ECS_CLUSTER/environment/dev/backend.tfvars
  02_ECS_CLUSTER/environment/dev/terraform.tfvars
  02_ECS_CLUSTER/iam.tf
  02_ECS_CLUSTER/main.tf
  02_ECS_CLUSTER/output.tf
  02_ECS_CLUSTER/ssm.tf
  02_ECS_CLUSTER/template/user-data.tpl
  02_ECS_CLUSTER/variables.tf
  Taskfile.yaml
Due: Network, ECS-Cluster

fix(): add missing files and allowing tfvars files
  .gitignore
  01_VPC/environment/dev/backend.tfvars
  01_VPC/environment/dev/terraform.tfvars
Due: Network

feature(): adding an auto-approve feature
  .github/workflow/auto-approve.yml
Due: none

fix(): fix workflows folder name
  .github/workflows/auto-approve.yml
Due: none

Create auto-approve.yml
  .github/workflows/auto-approve.yml
Due: none

fix(): remove auto-approve Action
  .github/workflows/auto-approve.yml
Due: none

fix(): remove Actions to auto-approve PRs
  .github/workflows/auto-approve.yml
Due: none

fix(): remove custom workflow from atlantis.yaml
  atlantis.yaml
Due: none

chore(): downscaling the cluster
  02_ECS_CLUSTER/environment/dev/terraform.tfvars
Due: ECS-Cluster

chore(): replace depends_on with execution_order
  atlantis.yaml
Due: none

fix(): execution_order doesn't exist, but execution_order_group
  atlantis.yaml
Due: none

Path conditions:
  Network: any of: 01_VPC/*.tf, 01_VPC/environment/dev/terraform.tfvars
  ECS-Cluster: any of: 02_ECS_CLUSTER/*.tf, 02_ECS_CLUSTER/environment/dev/terraform.tfvars
